body {
  font-family: 'Helvetica', 'Arial', 'sans-serif';
  margin:0;
  padding: 0;
  height:100%;
}

header {
  margin: 0;
  padding: 10px 0px 10px 50px;
  padding-left: 18%;
  padding-right: 18%;
  box-sizing: border-box;
  -webkit-box-shadow: 0px 3px 4px 0px rgba(50, 50, 50, 0.34);
  -moz-box-shadow: 0px 3px 4px 0px rgba(50, 50, 50, 0.34);
  box-shadow: 0px 3px 4px 0px rgba(50, 50, 50, 0.34);
  background-color: #fff;
}

footer {
  text-align: center;
  background-color: #111;
  height:100px;
}

footer p {
  color:#bbb;
}

footer img {
  padding-top: 20px;
}

footer hr {
  width: 68%;
  color:#bbb;
}

body header h1 {
  font-weight: lighter;
  margin: 0;
  color: gray;
}
body input {
  border-radius: 5px;
  border: 1px solid white;
  -webkit-box-shadow: 0px 1px 4px 0px rgba(50, 50, 50, 0.34);
  -moz-box-shadow: 0px 1px 4px 0px rgba(50, 50, 50, 0.34);
  box-shadow: 0px 1px 4px 0px rgba(50, 50, 50, 0.34);
  padding: 10px;
  margin-top: 10px;
  width: 300px;
}

.page-wrap {
  min-height: 100%;
  margin-bottom: -100px;
  background-color: #ececec;
}

.page-wrap:after {
  content: "";
  display: block;
  height:100px;
}

#inputBar {
  width: 100%;
  height: 60px;
  font-size: 28px;
  border-radius: 0px;
}

.sitesList {
  padding:20px 18% 50px 18%;
  background-color: #ececec;
}

.sitesList .siteUrl {
  font-size:25px;
}

.sitesList .siteDesc {
  color:#666;
}

.sitesList .searchList {
  padding-top: 15px;
}

.sitesList .noResult {
  font-size: 25px;
  color:#666;
  border:2px solid #ccc;
  border-radius: 2px;
  text-align: center;
  padding: 15px 0 15px 0;
  margin:50px 30px 0 30px;
}
